# from workflow.py

In [59]:
from copyreg import pickle
import pandas as pd
from sklearn.datasets import load_digits
from sklearn.linear_model import LogisticRegression
import requests
import io
import numpy as np
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import FunctionTransformer, MinMaxScaler
from sklearn.impute import SimpleImputer
imputer_num = SimpleImputer(missing_values=np.nan, strategy='mean')
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
imputer_cat = SimpleImputer(strategy="most_frequent")
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import roc_auc_score
from flytekit import task, workflow
from joblib import dump
from sklearn.preprocessing import OneHotEncoder
from typing import Tuple
import pickle
hi=None
scale=None
from sklearn.preprocessing import MinMaxScaler

In [60]:

def get_dataset() -> pd.DataFrame:
    #return load_digits(as_frame=True).frame
   
    #url = "https://github.com/smadarab/flytelab/raw/main/census.csv" # Make sure the url is the raw version of the file on GitHub
    url="https://github.com/smadarab/flytelab/raw/main/census 2.csv"
    download = requests.get(url).content
    df = pd.read_csv(io.StringIO(download.decode('utf-8')),sep=',')
    print("df is created",df.columns)
    #df.dropna(inplace=True)
    #df = df.reset_index()
    print(df.columns)
    return(df)

def train_model(train: pd.DataFrame) -> Tuple[AdaBoostClassifier,OneHotEncoder]:
    num_cols = ['age', 'education-num', 'capital-gain',
            'capital-loss', 'hours-per-week']
    cat_cols = ['workclass', 
            'marital-status', 'occupation', 
            'relationship', 'race', 
            'sex', 'native-country']
    log_transform_cols = ['capital-loss', 'capital-gain']    
    def get_cat_cols(X):
        return X[cat_cols]
    def get_num_cols(X):
        return X[num_cols]
    def get_log_transform_cols(X):
        return X[log_transform_cols]
    def get_dummies(X):
        print('\n \n',type(X))
        return pd.get_dummies(pd.DataFrame(X))
    def cat_imputer(X):
        print(X.shape)
        return(imputer_cat.fit_transform(X))
        #return X.apply(lambda col: imputer_cat.fit_transform(col))  
    def one_hot_encode(X):
        print("one hot encode")
        ohe = OneHotEncoder(handle_unknown = 'ignore')
        #print("DF:: ")
        ohe.fit(pd.DataFrame(X))
        global hi
        hi=ohe
        #dump(ohe, 'onehot.joblib') 
        return ohe.transform(pd.DataFrame(X)).toarray()
    def min_max_scaling(X):
        scaler = MinMaxScaler()
        scaler.fit(X)
        global scale
        scale=scaler
        return scaler.transform(pd.DataFrame(X)).tolist()
    log_transform_pipeline = Pipeline([
    ('get_log_transform_cols', FunctionTransformer(get_log_transform_cols, validate=False)),
    ('imputer', SimpleImputer(strategy='mean')),   
    ('log_transform', FunctionTransformer(np.log1p))
    ])

    num_cols_pipeline = Pipeline([
    ('get_num_cols', FunctionTransformer(get_num_cols, validate=False)),
    ('imputer', SimpleImputer(strategy='mean')),
    ('min_max_scaler', FunctionTransformer(min_max_scaling, validate=False))
    ])

    cat_cols_pipeline = Pipeline([
    ('get_cat_cols', FunctionTransformer(get_cat_cols, validate=False)),
    ('imputer', SimpleImputer(strategy="most_frequent")),
    #    ('get_dummies', FunctionTransformer(get_dummies, validate=False))
    ('one_hot_encode', FunctionTransformer(one_hot_encode, validate=False))
    ])       

    steps_ = FeatureUnion([
    ('log_transform', log_transform_pipeline),
    ('num_cols', num_cols_pipeline),
    ('cat_cols', cat_cols_pipeline)
    ])
    full_pipeline = Pipeline([('steps_', steps_)])
    y = train['income'].map({'<=50K': 0, '>50K': 1})
    X = full_pipeline.fit_transform(train)
    z=train.index
    model = AdaBoostClassifier(n_estimators=300)
    X_train, X_test, y_train, y_test,z_train,z_test = train_test_split(X, y,z,shuffle=False)
    model = model.fit(X_train, y_train) 
    return model,X_test, y_test,y_train,hi,z_train,z_test,scale

In [61]:
train=get_dataset()

df is created Index(['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')
Index(['age', 'workclass', 'education_level', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [62]:
train.head(5)

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [63]:
model,X_test, y_test, y_train,ohe,z_train,z_test,minmax_scaling = train_model(train)

one hot encode

In [64]:
z_train

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            33906, 33907, 33908, 33909, 33910, 33911, 33912, 33913, 33914,
            33915],
           dtype='int64', length=33916)

In [65]:
z_test[13]

33929

In [66]:
X_test[13]

array([0.        , 8.94754602, 0.56164384, 1.        , 0.07688077,
       0.        , 0.5       , 0.        , 0.        , 0.        ,
       0.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        ])

In [69]:
minmax_scaling

MinMaxScaler()

In [67]:
key = train.iloc[33929].index
val = train.iloc[33929].values
dict_val = {i: j for i,j in zip(key,val)}
dict_val.pop('income')
X_Prod = pd.DataFrame(dict_val,index=[0])

In [68]:
X_Prod

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,58,State-gov,Doctorate,16.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,50.0,United-States

In [70]:
model.predict_proba(X_test[13].reshape(1,-1))

array([[0.49231958, 0.50768042]])

In [71]:
y_test.shape

(11306,)

In [72]:
bye =model.predict(X_test)

In [73]:
bye=pd.Series(bye)

In [45]:
list(bye.where(bye == 1).dropna().index)

[13,
 14,
 16,
 19,
 20,
 36,
 37,
 43,
 51,
 57,
 69,
 73,
 75,
 79,
 93,
 101,
 102,
 103,
 105,
 108,
 115,
 118,
 128,
 132,
 141,
 142,
 145,
 148,
 150,
 151,
 167,
 189,
 200,
 202,
 204,
 208,
 210,
 215,
 227,
 232,
 239,
 242,
 246,
 264,
 266,
 283,
 294,
 299,
 301,
 302,
 304,
 310,
 315,
 328,
 342,
 351,
 358,
 360,
 361,
 368,
 369,
 381,
 384,
 385,
 396,
 398,
 400,
 408,
 415,
 421,
 429,
 433,
 439,
 446,
 454,
 457,
 472,
 473,
 478,
 489,
 500,
 510,
 512,
 515,
 521,
 522,
 523,
 530,
 533,
 537,
 540,
 544,
 551,
 555,
 558,
 569,
 570,
 578,
 585,
 595,
 599,
 611,
 613,
 622,
 625,
 627,
 631,
 654,
 660,
 661,
 664,
 667,
 668,
 669,
 670,
 672,
 676,
 688,
 697,
 703,
 712,
 715,
 720,
 723,
 726,
 731,
 732,
 733,
 734,
 735,
 739,
 744,
 745,
 755,
 758,
 765,
 767,
 772,
 781,
 788,
 790,
 791,
 797,
 798,
 802,
 810,
 812,
 815,
 817,
 818,
 822,
 825,
 834,
 839,
 845,
 846,
 858,
 861,
 862,
 864,
 865,
 869,
 871,
 875,
 885,
 888,
 902,
 903,
 911,
 913,
 914,
 916,
 917,
 919,
 926,
 927,
 928,
 929,
 938,
 939,
 945,
 946,
 949,
 950,
 951,
 972,
 977,
 978,
 981,
 982,
 983,
 985,
 986,
 989,
 991,
 993,
 994,
 1005,
 1008,
 1020,
 1030,
 1033,
 1034,
 1036,
 1042,
 1044,
 1048,
 1050,
 1054,
 1056,
 1066,
 1068,
 1069,
 1070,
 1072,
 1079,
 1081,
 1082,
 1084,
 1088,
 1089,
 1091,
 1098,
 1104,
 1105,
 1106,
 1107,
 1108,
 1111,
 1133,
 1134,
 1150,
 1154,
 1161,
 1164,
 1167,
 1181,
 1193,
 1195,
 1202,
 1209,
 1211,
 1224,
 1233,
 1237,
 1242,
 1244,
 1248,
 1250,
 1251,
 1252,
 1253,
 1258,
 1259,
 1261,
 1263,
 1264,
 1265,
 1277,
 1284,
 1291,
 1295,
 1297,
 1301,
 1309,
 1316,
 1317,
 1318,
 1328,
 1332,
 1342,
 1344,
 1352,
 1353,
 1356,
 1359,
 1367,
 1386,
 1400,
 1403,
 1409,
 1413,
 1418,
 1424,
 1431,
 1440,
 1449,
 1450,
 1463,
 1468,
 1471,
 1472,
 1477,
 1482,
 1488,
 1497,
 1506,
 1508,
 1510,
 1519,
 1520,
 1522,
 1525,
 1526,
 1530,
 1533,
 1534,
 1536,
 1541,
 1543,
 1545,
 1562,
 1563,
 1564,
 1569,
 1571,
 1579,
 1587,
 1588,
 1593,
 1595,
 1599,
 1607,
 1609,
 1611,
 1615,
 1624,
 1625,
 1626,
 1631,
 1653,
 1658,
 1662,
 1666,
 1667,
 1673,
 1674,
 1677,
 1680,
 1695,
 1704,
 1711,
 1720,
 1721,
 1730,
 1737,
 1742,
 1744,
 1752,
 1755,
 1756,
 1758,
 1761,
 1789,
 1793,
 1794,
 1795,
 1800,
 1804,
 1809,
 1816,
 1817,
 1829,
 1836,
 1838,
 1848,
 1852,
 1864,
 1870,
 1876,
 1879,
 1886,
 1888,
 1895,
 1900,
 1901,
 1904,
 1911,
 1916,
 1920,
 1926,
 1932,
 1935,
 1937,
 1944,
 1948,
 1952,
 1954,
 1955,
 1959,
 1966,
 1967,
 1973,
 1975,
 1985,
 1988,
 1994,
 2003,
 2004,
 2006,
 2010,
 2014,
 2039,
 2047,
 2051,
 2055,
 2061,
 2071,
 2072,
 2077,
 2081,
 2083,
 2085,
 2086,
 2087,
 2091,
 2095,
 2099,
 2101,
 2105,
 2106,
 2114,
 2116,
 2118,
 2137,
 2144,
 2149,
 2150,
 2153,
 2161,
 2167,
 2168,
 2174,
 2175,
 2180,
 2184,
 2195,
 2206,
 2212,
 2214,
 2216,
 2217,
 2226,
 2227,
 2228,
 2230,
 2231,
 2233,
 2240,
 2249,
 2251,
 2254,
 2255,
 2259,
 2261,
 2268,
 2274,
 2276,
 2279,
 2284,
 2287,
 2290,
 2303,
 2308,
 2323,
 2325,
 2328,
 2329,
 2330,
 2331,
 2342,
 2344,
 2345,
 2353,
 2354,
 2361,
 2365,
 2370,
 2377,
 2385,
 2387,
 2396,
 2399,
 2406,
 2410,
 2426,
 2429,
 2430,
 2440,
 2446,
 2455,
 2466,
 2475,
 2490,
 2498,
 2505,
 2508,
 2511,
 2517,
 2518,
 2526,
 2534,
 2539,
 2540,
 2541,
 2550,
 2559,
 2561,
 2564,
 2576,
 2577,
 2581,
 2584,
 2586,
 2595,
 2606,
 2621,
 2623,
 2624,
 2633,
 2634,
 2641,
 2643,
 2651,
 2654,
 2656,
 2670,
 2674,
 2679,
 2681,
 2687,
 2688,
 2689,
 2695,
 2697,
 2699,
 2700,
 2711,
 2717,
 2722,
 2736,
 2741,
 2751,
 2755,
 2758,
 2759,
 2771,
 2778,
 2782,
 2787,
 2795,
 2796,
 2798,
 2824,
 2825,
 2831,
 2834,
 2838,
 2842,
 2847,
 2850,
 2851,
 2852,
 2862,
 2866,
 2872,
 2877,
 2878,
 2887,
 2889,
 2923,
 2925,
 2926,
 2933,
 2952,
 2959,
 2964,
 2969,
 2975,
 2980,
 2990,
 2995,
 2997,
 2998,
 3007,
 3016,
 3025,
 3028,
 3035,
 3039,
 3040,
 3048,
 3051,
 3052,
 3056,
 3057,
 3058,
 3061,
 3065,
 3074,
 3075,
 3076,
 3078,
 3082,
 3086,
 3093,
 3095,
 3107,
 3110,
 3114,
 3116,
 3117,
 3118,
 3120,
 3136,
 3142,
 3146,
 3155,
 3159,
 3163,
 3168,
 3174,
 3178,
 3183,
 3192,
 3194,
 3195,
 3196,
 3200,
 3202,
 3204,
 3208,
 3212,
 3213,
 3216,
 3226,
 3231,
 3232,
 3233,
 3236,
 3241,
 3245,
 3254,
 3255,
 3256,
 3269,
 3277,
 3279,
 3281,
 3282,
 3285,
 3289,
 3290,
 3291,
 3297,
 3306,
 3308,
 3310,
 3314,
 3317,
 3320,
 3322,
 3324,
 3327,
 3329,
 3351,
 3355,
 3372,
 3379,
 3389,
 3390,
 3392,
 3395,
 3402,
 3405,
 3412,
 3418,
 3426,
 3427,
 3450,
 3461,
 3462,
 3463,
 3464,
 3469,
 3475,
 3479,
 3509,
 3512,
 3520,
 3535,
 3544,
 3545,
 3554,
 3558,
 3560,
 3561,
 3564,
 3576,
 3580,
 3601,
 3602,
 3609,
 3616,
 3617,
 3621,
 3629,
 3636,
 3637,
 3643,
 3647,
 3651,
 3663,
 3666,
 3670,
 3671,
 3672,
 3679,
 3680,
 3683,
 3687,
 3688,
 3689,
 3690,
 3695,
 3701,
 3703,
 3706,
 3708,
 3711,
 3714,
 3724,
 3726,
 3750,
 3761,
 3764,
 3773,
 3775,
 3795,
 3796,
 3802,
 3804,
 3806,
 3811,
 3814,
 3827,
 3833,
 3838,
 3839,
 3845,
 3848,
 3849,
 3855,
 3857,
 3858,
 3865,
 3870,
 3872,
 3874,
 3881,
 3883,
 3884,
 3885,
 3892,
 3904,
 3910,
 3912,
 3918,
 3924,
 3929,
 3932,
 3934,
 3940,
 3942,
 3944,
 3946,
 3950,
 3951,
 3953,
 3958,
 3963,
 3967,
 3976,
 3978,
 3982,
 3985,
 4001,
 4004,
 4006,
 4007,
 4016,
 4018,
 4019,
 4031,
 4036,
 4039,
 4042,
 4044,
 4045,
 4047,
 4054,
 4055,
 4069,
 4089,
 4094,
 4095,
 4105,
 4109,
 4110,
 4113,
 4116,
 4118,
 4119,
 4120,
 4121,
 4122,
 4124,
 4125,
 4129,
 4132,
 4138,
 4144,
 4156,
 4166,
 4177,
 4178,
 4179,
 4189,
 4196,
 4201,
 4205,
 4207,
 4214,
 4217,
 4219,
 4220,
 4231,
 4232,
 4241,
 4247,
 4248,
 4251,
 4252,
 4263,
 4264,
 4271,
 4272,
 4275,
 4276,
 4280,
 4296,
 4297,
 4298,
 4302,
 4305,
 4306,
 4323,
 4327,
 4329,
 4331,
 4335,
 4343,
 4345,
 4347,
 4348,
 4361,
 4362,
 4367,
 4372,
 4377,
 4384,
 4393,
 4397,
 4406,
 4409,
 4419,
 4425,
 4428,
 4432,
 4433,
 4436,
 4438,
 4445,
 4451,
 4452,
 4458,
 4460,
 4468,
 4469,
 4470,
 4474,
 4487,
 4489,
 4491,
 4495,
 4498,
 4508,
 4512,
 4516,
 4527,
 4529,
 4530,
 4533,
 4534,
 4538,
 4546,
 4549,
 4554,
 4564,
 4567,
 4570,
 4574,
 4577,
 4588,
 4590,
 4596,
 4597,
 4604,
 4607,
 4609,
 4612,
 4618,
 4621,
 4632,
 4638,
 4649,
 4653,
 4654,
 4656,
 4657,
 4659,
 4667,
 4671,
 4679,
 4689,
 4694,
 4705,
 4709,
 4712,
 4721,
 4724,
 4725,
 4734,
 4737,
 4738,
 4739,
 4741,
 4744,
 4745,
 4746,
 4751,
 4753,
 4755,
 4756,
 4757,
 4759,
 4761,
 4766,
 4768,
 4774,
 4777,
 4779,
 4787,
 4790,
 4793,
 4794,
 4796,
 4802,
 4803,
 4806,
 4815,
 4822,
 4839,
 4840,
 4848,
 4853,
 4857,
 4859,
 4864,
 4869,
 4870,
 4872,
 4873,
 4884,
 4889,
 4907,
 4910,
 4912,
 4914,
 4920,
 4933,
 4935,
 4941,
 4945,
 4948,
 4957,
 4962,
 4974,
 4976,
 4977,
 ...]

In [74]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, model.predict(X_test)))

0.8641429329559526

In [75]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 1, 0, 1])

In [76]:
from sklearn import metrics
confusion = metrics.confusion_matrix(y_test, y_pred)

In [77]:
confusion

array([[7991,  541],
       [ 995, 1779]])

In [78]:
(pd.DataFrame(y_pred)).value_counts()

0    8986
1    2320
dtype: int64

In [79]:

def test_model(train: pd.DataFrame,ohe:OneHotEncoder,scaler:MinMaxScaler) -> Tuple[AdaBoostClassifier,OneHotEncoder]:
    num_cols = ['age', 'education-num', 'capital-gain',
            'capital-loss', 'hours-per-week']
    cat_cols = ['workclass', 
            'marital-status', 'occupation', 
            'relationship', 'race', 
            'sex', 'native-country']
    log_transform_cols = ['capital-loss', 'capital-gain']    
    def get_cat_cols(X):
        return X[cat_cols]
    def get_num_cols(X):
        return X[num_cols]
    def get_log_transform_cols(X):
        return X[log_transform_cols]
    def get_dummies(X):
        print('\n \n',type(X))
        return pd.get_dummies(pd.DataFrame(X))
    def cat_imputer(X):
        print(X.shape)
        return(imputer_cat.fit_transform(X))
        #return X.apply(lambda col: imputer_cat.fit_transform(col))  
    def one_hot_encode(X):
        print("one hot encode")
        #dump(ohe, 'onehot.joblib') 
        print(X)
        return ohe.transform(pd.DataFrame(X)).toarray()
    def min_max_scaling(X):
        return scaler.transform(pd.DataFrame(X)).tolist()

    log_transform_pipeline = Pipeline([
    ('get_log_transform_cols', FunctionTransformer(get_log_transform_cols, validate=False)),
    ('imputer', SimpleImputer(strategy='mean')),   
    ('log_transform', FunctionTransformer(np.log1p))
    ])

    num_cols_pipeline = Pipeline([
    ('get_num_cols', FunctionTransformer(get_num_cols, validate=False)),
    ('imputer', SimpleImputer(strategy='mean')),
    ('min_max_scaler', FunctionTransformer(min_max_scaling, validate=False))
    ])

    cat_cols_pipeline = Pipeline([
    ('get_cat_cols', FunctionTransformer(get_cat_cols, validate=False)),
    ('imputer', SimpleImputer(strategy="most_frequent")),
    #    ('get_dummies', FunctionTransformer(get_dummies, validate=False))
    ('one_hot_encode', FunctionTransformer(one_hot_encode, validate=False))
    ])       

    steps_ = FeatureUnion([
    ('log_transform', log_transform_pipeline),
    ('num_cols', num_cols_pipeline),
    ('cat_cols', cat_cols_pipeline)
    ])
    full_pipeline = Pipeline([('steps_', steps_)])
    X = full_pipeline.fit_transform(train)
   
    return X

In [80]:
bye

0        0
1        0
2        0
3        0
4        0
        ..
11301    0
11302    0
11303    1
11304    0
11305    1
Length: 11306, dtype: int64

In [81]:
x_prod = test_model(X_Prod,ohe,minmax_scaling)

one hot encode
[[' State-gov' ' Married-civ-spouse' ' Prof-specialty' ' Husband'
  ' White' ' Male' ' United-States']]

In [82]:
x_prod

array([[0.        , 8.94754602, 0.56164384, 1.        , 0.07688077,
        0.        , 0.5       , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        ]])

In [83]:

model.predict_proba(x_prod)

array([[0.49231958, 0.50768042]])

In [45]:
y_pred = model.predict_proba(x_prod)

In [46]:
y_pred

array([[0.56193188, 0.43806812]])

In [56]:
train[train['income']=='>50K']

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
7,52,Self-emp-not-inc,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,45.0,United-States,>50K
8,31,Private,Masters,14.0,Never-married,Prof-specialty,Not-in-family,White,Female,14084.0,0.0,50.0,United-States,>50K
9,42,Private,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178.0,0.0,40.0,United-States,>50K
10,37,Private,Some-college,10.0,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0.0,0.0,80.0,United-States,>50K
11,30,State-gov,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0.0,0.0,40.0,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45195,60,Private,Assoc-voc,11.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688.0,0.0,40.0,United-States,>50K
45197,38,Private,Masters,14.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,0.0,0.0,50.0,United-States,>50K
45198,43,Local-gov,Masters,14.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,1902.0,50.0,United-States,>50K
45204,40,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024.0,0.0,55.0,United-States,>50K
45221,35,Self-emp-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,60.0,United-States,>50K

In [115]:
index_one = train[train['income']=='>50K'].index.to_list()

In [62]:
key = train[train['income']=='>50K'].iloc[9].index.to_list()

val = list(train[train['income']=='>50K'].iloc[9].values)

In [63]:
key = train[train['income']=='>50K'].iloc[9].index.to_list()
val = list(train[train['income']=='>50K'].iloc[9].values)
dict_val = {i: j for i,j in zip(key,val)}
dict_val.pop('income')
X_Prod = pd.DataFrame(dict_val,index=[0])

In [64]:
dict_val

{'age': 47,
 'workclass': ' Private',
 'education_level': ' Prof-school',
 'education-num': 15.0,
 'marital-status': ' Married-civ-spouse',
 'occupation': ' Prof-specialty',
 'relationship': ' Wife',
 'race': ' White',
 'sex': ' Female',
 'capital-gain': 0.0,
 'capital-loss': 1902.0,
 'hours-per-week': 60.0,
 'native-country': ' Honduras',
 'income': '>50K'}

'>50K'

In [66]:
X_Prod = pd.DataFrame(dict_val,index=[0])

In [67]:
X_Prod

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,47,Private,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,0.0,1902.0,60.0,Honduras

In [33]:
x_prod = train_model(X_Prod,ohe)

one hot encode
[[' State-gov' ' Married-civ-spouse' ' Prof-specialty' ' Husband'
  ' White' ' Male' ' United-States']]

In [34]:
x_prod = x_prod.reshape(1,-1)

In [35]:
x_prod

<1x89 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [71]:
y_pred = model.predict_proba(x_prod)

In [72]:
y_pred

array([[0.56347513, 0.43652487]])

In [7]:
from sklearn.model_selection import train_test_split
import numpy as np

In [8]:
n_samples, n_features, n_classes = 10, 2, 2
data = train  # 10 training examples
labels = np.random.randint(n_classes, size=n_samples)  # 10 labels
indices = np.arange(n_samples)

In [11]:
indices

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
(
    data_train,
    data_test,
    labels_train,
    labels_test,
    indices_train,
    indices_test,
) = train_test_split(data, labels, indices, test_size=0.2)

In [36]:
import pandas as pa
dicst_temp={'col1':[1,2,3,4],'col2':['a','b','c','d'],'col3':[2,4,None,None],'col4':'str','col5':(1,7,3,4),'col6':1}
df=pa.DataFrame(dicst_temp)

In [37]:
df

   col1 col2  col3 col4  col5  col6
0     1    a   2.0  str     1     1
1     2    b   4.0  str     7     1
2     3    c   NaN  str     3     1
3     4    d   NaN  str     4     1

In [61]:
df.isna()

    col1   col2   col3   col4   col5   col6
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False   True  False  False  False
3  False  False   True  False  False  False

In [69]:
for i in list(df.columns):
    print(df[df[i].isna()][i].index)

Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([2, 3], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')
Int64Index([], dtype='int64')

In [51]:
import math
def check_nan(val):
    if type(val)!='str':
        if math.isnan(val):
            print(val)

In [52]:
df.applymap(check_nan)

TypeError: must be real number, not str